body {
    font-family: "Poppins", sans-serif;
    margin: 50px 50px 0 50px;
    background-color:beige;
    display: flex;
    flex-direction: column;


  }

  .conte{
    display: flex;
    flex-direction: row;
  }

  .im1{
    width: 200px;
    float:left;
}


.im2{
    width: 200px;
    float: left;
}


.fir{

    height: 300px;
    float: left;
    margin: 10px;
}

.main {
    flex: 1;
  }
.sec{
  
    height: 300px;
    float: right;
    margin:10px;
}
  img{
    margin-right: 9px;
    height: 200px;
    border-radius: 25%;

  }
  
  h1 {
    font-size: 5rem;
  }

  h2{
    margin: 0px;
  }
  
  footer {
    text-align: right;
    color: rgb(158, 149, 62);
    clear: both;
  }
  
  span{
    color: rgb(158, 149, 62);
  }

  p{
    margin: 0px;
  }

  @media (max-width:680px){

    .logo{
      width: 60%;
      height: 1%;
    }

    .conte{
      display: flex;
      flex-direction: column;
    }

    .im1{
      width: 100%;
      object-fit: cover;
      display: block;
    }


    .im2{
      width: 100%;
      display: block;
      object-fit: cover;
    }
    

    .fir{
      flex: 2;
      height: 300px;
      margin: 10px;
      display: block;


  }
    .sec{
      flex: 2;
      height: 300px;
      margin: 10px;
      float: left;
    } 

  p{
    display: block;
    clear: both;
    text-align: justify;
  }

  h2{
    clear: both;
  }

h1{
    font-size:4rem;
}
}
